.content {
  line-height: 3.5;
}

.comment {
  font-size: 1.5rem;
  line-height: 150%;
}

.headerText {
  color: var(--color-gray1);
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.image {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}

.image2 {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}


.image img {
  object-fit: contain;
}

.hr {
  position: relative;
  width: 128rem;
  height: 0.8rem;
  right: 2.4rem;
  border: none;
  background-color: var(--color-background);
  margin: 1.6rem 0;
}

@media screen and (max-width: 767px) {
  .content {
    line-height: 1.5;
    font-size: 1.2rem;
  }
  
  .headerText {
    font-size: 1.4rem;
  }

  .comment {
    font-size: 1.1rem;
  }

  .hr {
    margin-top: 1.6rem;
    width: calc(100% + 3.2rem);
    right: 1.6rem;
  }
}