.container {
  width: 100%;
}

.desktop {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 210%;
}

.mobile {
  display: none;
  position: relative;
  width: 100%;
  padding-top: 400%;
}

@media screen and (max-width: 767px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}