.profile {
  position: relative;
}

.profilePic {
  cursor: pointer;
  position: relative;
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-white);
}

.menuContainer {
  position: absolute;
  z-index: 10;
  right: 0;
  padding-top: 0.6rem;
}

.menus {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--color-gray5);
}

.menu {
  cursor: pointer;
  width: 10rem;
  padding: 1.6rem;
  font-size: 1.6rem;
}

.menu:hover {
  background-color: var(--color-gray4);
}

@media screen and (max-width: 767px) {
  .profilePic {
    width: 4rem;
    height: 4rem;
  }

  .menu {
    width: 8rem;
    padding: 1.2rem;
    font-size: 1.2rem;
  }
}