.form {
  position: relative;
  height: 4.4rem;
}

.input {
  width: 100%;
  border-radius: 0.5rem;
  padding: 1.2rem;
  color: var(--color-gray2);
  border: 0.1rem solid var(--color-primary);
  font-size: 1.4rem;
}

.input::placeholder {
  color: var(--color-gray5);
}

.icon {
  position: absolute;
  top: 1.3rem;
  right: 1.1rem;
  width: 1.6rem;
  height: 1.6rem;
}

@media screen and (max-width: 767px) {
  .input {
    padding: 1.3rem;
    font-size: 1.4rem;
  }
}