.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  overflow: hidden;
}

.card {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 19.5rem;
  height: 8rem;
  border: 0.1rem solid var(--color-gray12);
  border-radius: 1rem;
  padding: 1rem;
}

.card:hover {
  background-color: var(--color-gray12);
}

.profilePic {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-white);
}

.nicknameContainer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.nickname {
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
}

.englishNickname {
  max-width: 10rem;
  color: var(--color-gray4);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  .card {
    width: 15.6rem;
  }

  .nickname {
    max-width: 7rem;
  }

  .englishNickname {
    max-width: 7rem;
  }
}