.accountLabel {
  text-align: left;
  font-size: 1.4rem;
}

.inputContainer {
  position: relative;
}

.accountInput {
  width: 100%;
  margin: 1.2rem 0 2.4rem;
  border: 0.1rem solid var(--color-gray5);
  border-radius: 0.8rem;
  padding: 1.8rem 1.5rem;
  color: var(--color-gray4);
}

.passwordInput {
  padding-right: 4rem;
}

.accountInput:focus {
  color: var(--color-gray1);
}
