.button {
  border-radius: 0.8rem;
  padding: 1.6rem 0;
  background: linear-gradient(90deg, var(--color-primary), var(--color-primary-light));
  color: var(--color-white);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}