.container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.label {
  margin-top: 3.6rem;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
}

.input {
  accent-color: var(--color-button);
  zoom: 1.5;
  margin: 0;
}

.comment {
  font-size: 1.4rem;
  font-weight: 400;
  white-space: pre-line;
}

@media screen and (max-width: 767px) {
  .label {
    margin-top: 2.4rem;
  }

  .comment {
    font-size: 1.2rem;
  }

  .commentHide {
    display: none;
  }
}