.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  border: 0.1rem solid var(--color-gray1);
}

@media screen and (max-width: 767px) {
  .content {
    padding: 1.5rem;
  }
}