.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 192rem;
  margin: 0 auto;
  padding: 2rem 13rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  background-color: var(--color-gray7);
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 104.8rem;
    padding: 2rem 5.2rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin: 0;
    padding: 0 5.2rem;
  }

  .content {
    padding: 1.5rem;
  }
}