.button {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-white);
  border-radius: 10rem;
  padding: 0.8rem 1.6rem;
}

.selected {
  background-color: var(--color-button);
}

.notSelected {
  background-color: var(--color-button-not-selected);
}

@media screen and (max-width: 767px) {
  .button {
    font-size: 1.4rem;
  }
}