.button {
  font-size: 1.8rem;
  font-weight: 700;
}

.selected {
  color: var(--color-gray1);
  text-decoration: underline;
}

.notSelected {
  color: var(--color-gray4);
}

@media screen and (max-width: 767px) {
  .button {
    font-size: 1.4rem;
  }
}