.button {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-gray1);
}

.selected {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.8rem;
}


@media screen and (max-width: 767px) {
  .button {
    font-size: 1.3rem;
  }
}