.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  width: 28rem;
}

.modalTitle {
  font-size: 2rem;
}

.error {
  margin: 2rem 0 1rem;
  color: var(--color-red);
  font-size: 1.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.passwordInput {
  width: 100%;
  margin-bottom: 2.4rem;
  border: 0.1rem solid var(--color-gray5);
  border-radius: 0.8rem;
  padding: 1.8rem 1.5rem;
  color: var(--color-gray4);
}

.submitButton {
  margin-right: 1rem;
  color: var(--color-black);
  font-size: 1.6rem;
}