.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin: 25px 0 60px;
  text-align: center;
}