.form {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
}

.error {
  color: var(--color-red);
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.agreementContainer {
  display: flex;
  align-items: center;
  color: var(--color-gray3);
  text-align: start;
  margin-bottom: 1.5rem;
}

.agreementText {
  margin-left: 0.5rem;
  font-size: 1.4rem;
}

.link {
  display: inline-block;
  font-weight: 600;
}

.link:hover {
  color: var(--color-gray2);
  text-decoration: underline;
}