.container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 132rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.rooms {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 40rem;
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  background-color: var(--color-white);
}

.room {
  display: flex;
  flex-direction: column;
  width: calc(100% - 42rem);
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  background-color: var(--color-white);
}

.headerText {
  color: var(--color-gray1);
  font-size: 1.8rem;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .container {
    margin: 0;
    padding: 2rem 0 0;
  }

  .rooms {
    width: 100%;
    border-radius: 0;
  }

  .room {
    width: 100%;
    border-radius: 0;
  }
}