.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 132rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  border-radius: 1.6rem;
}

@media screen and (max-width: 767px) {
  .container {
    gap: 0.8rem;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .content {
    gap: 0.8rem;
    border-radius: 0;
  }
}