.container {
  margin-top: 4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.headerText {
  color: var(--color-gray1);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem
}

.categoryContainer {
  margin-top: 1.2rem;
}

.seekRequest{
  display: flex;
  align-items: center;
  line-height: 2rem;
}

.checkBox {
  accent-color: var(--color-button);
  zoom: 1.5;
}

@media screen and (max-width: 767px) {
  .badgeContainer>* {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}