.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container>* {
  width: 100%;
}

.seeMore {
  align-self: flex-end;
  display: inline;
  margin-top: 3rem;
  margin-right: 0.6rem;
  color: var(--color-gray4);
}

.seeMore:hover {
  color: var(--color-gray1);
  text-decoration: underline;
}

.headerText {
  color: var(--color-gray1);
  font-size: 1.8rem;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .headerText {
    font-size: 1.4rem;
  }
}