.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--color-background);
}

.container>* {
  width: 100%;
}

.seeMore {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
  margin-right: 0.6rem;
  color: var(--color-button);
  font-size: 1.4rem;
  font-weight: 600;
}

.plus {
  position: relative;
  width: 2rem;
  height: 2rem;
}

.headerText {
  color: var(--color-gray1);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 1.6rem;
  }

  .headerText {
    font-size: 1.4rem;
  }
}