.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2.4rem;
  width: 60rem; 
  min-width: 60rem;
  padding: 2.4rem;
  background-color: var(--color-white);
  border-radius: 2.4rem;
}

@media screen and (max-width: 1199px) {
  .container {
    min-width: 0;
    width: 100%;
  }
}