.form {
  display: flex;
  flex-direction: column;
  margin-top: 3.6rem;
}

.error {
  margin-top: 1.6rem;
  color: var(--color-red);
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
}

.accountInfo {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-button);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 3.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
}

.inputContainer {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  position: relative;
}

.input {
  width: 100%;
  height: 5.2rem;
  border: 0.1rem solid var(--color-gray13);
  border-radius: 0.8rem;
  padding: 1.6rem;
  outline: none;
}

.input::placeholder {
  font-size: 1.3rem;
  color: var(--color-gray5);
}

.input:focus {
  color: var(--color-gray1);
  border-color: var(--color-black);
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.comment {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--color-gray3);
}

.verifyButton {
  display: inline;
  font-weight: 400;
}


.verifyButton:hover {
text-decoration: underline;
}

.checkBox {
  accent-color: var(--color-button);
  zoom: 1.5;
}

.checkBoxComment {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.verified {
  position: relative;
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
}

.buttonContainer {
  display: flex;
  margin-top: 2rem;
  gap: 0.8rem;
}

.button {
  padding: 1.2rem 13.9rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
  background-color: var(--color-button);
  color: var(--color-white);
  border-radius: 0.8rem;
}

.resetButton {
  border: 0.1rem solid var(--color-black);
  background-color: var(--color-white);
  color: var(--color-black);
}

.row {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.settingButton {
  width: max-content;
  border: 0.1rem solid var(--color-black);
  border-radius: 0.8rem;
  padding: 1.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.settingButtonDisabled {
  cursor: auto;
  width: max-content;
  border: 0.1rem solid var(--color-black);
  border-radius: 0.8rem;
  padding: 1.6rem;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--color-gray4);
}

.settingButton:disabled {
  cursor: default;
  color: var(--color-gray5);
}

.disableAccount {
  margin-top: 3.6rem;
  font-size: 1.4rem;
}

.saveMessage {
  color: var(--color-button);
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
}

.lowMarginTop {
  margin-top: 1.6rem;
}

@media screen and (max-width: 767px) {
  .form {
    margin-top: 1.6rem;
  }
  
  .container {
    margin-bottom: 2.4rem;
  }

  .button {
    padding: 1.2rem calc(25% - 2rem);
  }

  .disableAccount {
    margin-top: 2.4rem;
  }

  .lowMarginTop {
    margin-top: 1.2rem;
  }
}