.form {
  display: flex;
  flex-direction: column;
}

.error {
  margin-top: 1.6rem;
  color: var(--color-red);
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
}

.label {
  margin-top: 3.6rem;
}

.row {
  display: flex;
  align-items: baseline;
  gap: 0.8rem;
}

.picInput {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
}

.bgInput {
  position: relative;
  width: 100%;
  max-width: 60rem;
  height: 15rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

.editPic {
  position: absolute;
  top: 0;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-edit-image-overlay);
  z-index: 1;
}

.editBg {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 60rem;
  height: 15rem;
  background-color: var(--color-edit-image-overlay);
  z-index: 1;
  border-radius: 0.8rem;
  overflow: hidden;
}

.buttonContainer {
  display: flex;
  margin-top: 2rem;
  gap: 0.8rem;
}

.button {
  padding: 1.2rem 13.9rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
  background-color: var(--color-button);
  color: var(--color-white);
  border-radius: 0.8rem;
}

.resetButton {
  border: 0.1rem solid var(--color-black);
  background-color: var(--color-white);
  color: var(--color-black);
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkBox {
  accent-color: var(--color-button);
  zoom: 1.5;
}

.checkBoxComment {
  font-size: 1.4rem;
  line-height: 2rem;
}

.delete {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}

.deletePic {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}

.profilePicContainer {
  position: relative;
  width: 15rem;
  height: 15rem;
  background-color: var(--color-white);
}

.profileBgContainer {
  position: relative;
  max-width: 60rem;
  height: 15rem;
}

.saveMessage {
  color: var(--color-button);
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .label {
    margin-top: 2.4rem;
    font-size: 1.4rem;
  }

  .picInput {
    width: 6rem;
    height: 6rem;
  }

  .bgInput {
    max-width: 30rem;
    max-height: 7.5rem;
  }

  .editPic {
    width: 6rem;
    height: 6rem;
  }

  .editBg {
    max-width: 30rem;
    max-height: 7.5rem;
  }

  .button {
    padding: 1.2rem calc(25% - 2rem);
  }

  .delete {
    width: 2rem;
    height: 2rem;
  }

  .deletePic {
    width: 2rem;
    height: 2rem;
  }

  .profilePicContainer {
    width: 6rem;
    height: 6rem;
  }

  .profileBgContainer {
    max-width: 30rem;
    max-height: 7.5rem;
  }
}