.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 132rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.sample {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 2rem;
  max-width: 100rem;
  height: max-content;
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  background-color: var(--color-white);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10rem;
  width: 40rem;
  height: max-content;
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  background-color: var(--color-white);
}

@media screen and (max-width: 767px) {
  .container {
    margin: 0;
    padding: 2rem 0 0;
  }

  .sample {
    border-radius: 0;
  }

  .content {
    width: 100%;
    border-radius: 0;
  }
}