.profilePic {
  position: relative;
  width: 4.8rem;
  height: 4.8rem;
  border: 0.1rem solid var(--color-gray11);
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.creator {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content {
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  white-space: pre-line;
}

.nickname {
  color: var(--color-gray3);
}

.nicknameHover {
  color: var(--color-gray3);
}

.nicknameHover:hover {
  color: var(--color-black);
  text-decoration: underline;
}