.container {
  display: flex;
  flex-direction: column;
  width: 34rem;
  min-width: 34rem;
  height: max-content;
  padding: 2.4rem 3.6rem;
  gap: 2.4rem;
  background-color: var(--color-white);
  border-radius: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: 0.6rem;
}

.button {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  padding: 1.5rem;
  color: var(--color-black);
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-gray4);
  border-radius: 0.8rem;
  overflow: hidden;
}

.followCancleButton {
  color: var(--color-white);
  background-color: var(--color-gray4);
}

.icon {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
}

@media screen and (max-width: 1199px) {
  .container {
    min-width: 0;
    width: 100%;
  }
}