.info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: var(--color-gray1);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
}

.row {
  display: flex;
}

.row>p:first-child {
  width: 12.6rem;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .info {
    font-size: 1.3rem;
  }

  .row>p:first-child {
    width: 10rem;
    margin-right: 1rem;
  }
}