.info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 1rem;
  color: var(--color-gray1);
  font-size: 1.6rem;
}

.row {
  display: flex;
}

.row>p:first-child {
  text-align: end;
  width: 12rem;
  margin-right: 2rem;
}

.hr {
  margin: 0.5rem 0;
  border-top: 1px solid var(--color-gray5);
}

@media screen and (max-width: 767px) {
  .info {
    font-size: 1.3rem;
  }

  .row>p:first-child {
    width: 10rem;
    margin-right: 1rem;
  }
}