.selectContainer {
  margin: 0 auto 2rem;
  padding: 0 2rem;
  max-width: 132rem;
}

.select {
  width: 15rem;
}

@media screen and (max-width: 767px) {
  .selectContainer {
    margin: 1rem;
    padding: 0;
  }

  .select {
    width: 12rem;
    font-size: 1.4rem;
  }
}